/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Custom Styles */

body {
    font-size: 16px;
    line-height: 1.5;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 16px 0;
}

.header {
    font-size: 0;
    background-color: aqua;
    padding: 16px 0;
}

.brand {
    width: 180px;
    font-size: 25px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.nav a {
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: black;
    padding: 0 15px;
}

.nav {
    float: right;
}

article {
    float: left;
    width: 30.999%;
    text-align: center;
    padding-left: 20px;
}

.article-text {
    font-size: 16px;
    overflow:scroll;
    width: 60%;
    margin-left: 90px;
}

.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}
.clearfix:after {
    clear: both;
}

.container2 {
    margin-top: 60px;
    padding: 20px;
}

.footer {
    text-align: center;
    padding: 26px 0;
    background-color: aqua;
}

.footer a {
    margin: 0 16px;
    text-decoration: none;
    font-size: 24px;
    color: black;
}

.container3 {
    padding: 20px;
}